header {
  nav {
    width: 100%;
    img.logo {
      margin: 46px 86px 80px;
    }
  }
}

/**
* ? Tablet
*/
@media (min-width: 768px) {
  header {
    nav {
      img.logo {
        margin: 72px auto 104px 0;
      }
    }
  }
}

/**
* ? DeskTop
*/
@media (min-width: 1440px) {
  header {
    nav {
      img.logo {
        margin: 81px auto 102px 0;
      }
    }
  }
}
