#hero {
  margin-bottom: 64px;
}

#form {
  padding-bottom: 87px;

  .in-section {
    background: #fff;
    box-shadow: 0px 50px 50px -25px rgba(75, 92, 154, 0.247159);
    border-radius: 13px;
    padding: 24px;

    input {
      height: 45px;
      border: none;
      outline: none;
      padding-left: 26px;
      width: 251px;
      color: rgba($lightGrey, 0.5);

      &:not(:last-child) {
        border-bottom: 1px solid rgba($lightGrey, 0.5);
      }

      &:not(:first-child) {
        padding-top: 24px;
      }
    }

    button {
      width: 100%;
      margin: 40px 0 0 !important;
    }

    #package.dropdown {
      text-align: left;
      width: 279px;
      height: 45px;
      padding-top: 24px;
      border-bottom: 1px solid rgba($lightGrey, 0.5);

      transition: all 0.5s ease;
      position: relative;

      .price {
        padding-left: 8px;
        opacity: 0.4;
      }

      .select {
        cursor: pointer;
        padding-left: 26px;
        padding-right: 24px;
        display: flex;
        align-content: center;
        justify-content: space-between;
        align-items: center;
        height: 100%;
      }

      &.not-active {
        .dropdown-menu {
          display: none;
        }
      }

      &.active {
        img#arrow {
          transform: rotate(-180deg);
        }
        .dropdown-menu {
          display: block;
          margin-top: 12px;
          background: #ffffff;
          border: 1px solid rgba(51, 57, 80, 0.153273);
          box-shadow: 0px 50px 50px -25px rgba(75, 92, 154, 0.747077);
          border-radius: 8px;
          padding: 8px 39px 8px 32px;

          li {
            padding: 16px 0;
            display: flex;
            align-content: center;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;

            &:not(:last-child) {
              border-bottom: 1px solid rgba($lightGrey, 0.25);
            }
          }
        }
      }
    }
  }
}

#footer-sign-up.footer-back {
  height: 320px;
}
